<h1>イベント作成</h1>
<%= form_with model: @event, url: events_path, method: :post do |f| %>
  <p>フライヤー画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  
  <p>トレーラー(youtubeのURLを貼り付けてください)</p>
  <%= f.text_field :youtube_url %>
  
  <p>イベント名</p>
  <%= f.text_field :name %>
  
  <p>内容</p>
  <%= f.collection_check_boxes( :id, Competition.all, :id, :overview) do |event| %>
    <%= event.label { event.check_box + event.text } %>
  <% end %>

  <p>日時</p>
  <%= f.text_field :day %>
  
  <p>開催場所</p>
  <%= f.text_field :address %>
  
  <p>会場</p>
  <%= f.text_field :venue %>
  
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
    <div>
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>
  
  <%= f.label :tag_names %>
  <%= f.text_field :tag_names, placeholder:",で区切ってください" %>
  
  <%= f.submit "作成" %>
  
<% end %>