<div>
  <h1>イベント詳細</h1>

  <%= image_tag @event.image, size: "250x250" %>
  
  <table>
    <tr>
      <th>イベント名</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>会場</th>
      <td><%= @event.venue %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @event.address %></td>
    </tr>
    <tr>
      <th>開催日</th>
      <td><%= @event.day.strftime('%M %D') %></td>
    </tr>
    <tr>
      <th>タグ</th>
      <td>
        <% @event.tags.each do |tag| %>
          <%= link_to tag.name,search_tag_path(tag_id: tag.id)%>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div>
  <p>コメント件数：<%= @event.event_comments.count %></p>
  <% @event.event_comments.each do |event_comment| %>
    <%= event_comment.user.last_name %>
    <%= event_comment.created_at.strftime('%Y/%m/%d') %><%= event_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@event, @event_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>